<section class="block container">

  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, voluptatibus!</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content " data-aos="fade-right" >
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/spritenew.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea beatae,
      iure iste excepturi ipsa velit recusandae maiores nisi dignissimos
      consequatur.
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    
    <picture data-aos="zoom-in-left" > 
      <source
      type="images/webp"
      srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
    />
   
      <picture>
        <source
        type="images/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.webp 2x"
      />
        <img class="feature__image"   src="images/easy@2x.jpg" alt="" />
      </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/spritenew.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea beatae,
      iure iste excepturi ipsa velit recusandae maiores nisi dignissimos
      consequatur.
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    
    <picture>
      <source
      type="images/webp"
      srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
    />
   
      <picture>
        <source
        type="images/jpg"
        srcset="images/easy.jpg 1x, images/easyr@2x.webp 2x"
      />
        <img class="feature__image"   src="images/easy@2x.jpg" alt="" />
      </picture>
  </article>


  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-left">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea beatae,
      iure iste excepturi ipsa velit recusandae maiores nisi dignissimos
      consequatur.
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    
    <picture data-aos="zoom-out-up">
      <source
      type="images/webp"
      srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
    />
   
      <picture>
        <source
        type="images/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.webp 2x"
      />
        <img class="feature__image"   src="images/easy@2x.jpg" alt="" />
      </picture>
  </article>


  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea beatae,
      iure iste excepturi ipsa velit recusandae maiores nisi dignissimos
      consequatur.
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    
    <picture>
      <source
      type="images/webp"
      srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
    />
   
      <picture>
        <source
        type="images/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.webp 2x"
      />
        <img class="feature__image"   src="images/easy@2x.jpg" alt="" />
      </picture>
  </article>


</section>

