<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
      <h2>User-Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
      <picture class="block-showcase__image">
        <source
          type="image/webp"
          srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x" />

        <source
          type="image/png"
          srcset="images/ipad.png 1x, images/ipad@2x.png 2x" />
        <img src="images/ipad.png" alt=""
      /></picture>
      <ul class="list">
        <li>
          <div class="media_body">
            <div class="media_image">
              <svg class="icon icon--primary">
                <use xlink:href="images/spritenew.svg#easy"></use>
              </svg>
            </div>
            <h3 class="media_title">Easy start and manage updates</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima
              sapiente voluptatum ut voluptate nobis voluptatibus quia aut
              recusandae ad non.
            </p>
          </div>
        </li>
        <li> 
          <div class="media_body">
            <div class="media_image">
              <svg class="icon icon--primary">
                <use xlink:href="images/spritenew.svg#growth"></use>
              </svg>
            </div>
            <h3 class="media_title">Staging, Git & WP-CLI</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima sapiente
              voluptatum ut voluptate nobis voluptatibus quia aut recusandae ad non.
            </p>
          </div>
          
        </li>
        <li>
          <div class="media_body">
          <div class="media_image">
           <svg class="icon icon--primary">
            <use xlink:href="images/spritenew.svg#wordpress"></use>
          </svg>
        
          </div>
            <h3 class="media_title">Dynamic Catching & More</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima
              sapiente voluptatum ut voluptate nobis voluptatibus quia aut
              recusandae ad non.
            </p>
          </div>
        </div>
        </li>
      </ul>
    </div>
  </section>